 body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .grid-container {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: 10px; /* Optional: space between grid items */
            height: 100vh; /* Full height for the grid */
        }

        .item {
            background-color: green;
            color: white;
            font-size: 4vw;
            display: flex;
            
        }

.item1 {
    grid-column: span 4; /* Span all 4 columns */
}

.item2 {
    grid-row: span 4; /* Span 4 rows */
}

.item4 {
    grid-column: span 2; /* Span 2 columns */
}

.item5 {
    grid-column: 2/ span 2; /* Span 2 columns */
}

.item10 {
    grid-column: span 3; /* Span 3 columns */
}