      body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .grid-container {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: 10px; /* Optional: space between grid items */
            height: 100vh; /* Full height for the grid */
        }

        .item {
            background-color: green;
            color: white;
            font-size: 4vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item1 {
            grid-column: span 4 / auto; /* Span all 4 columns */
            grid-row: 1; /* Position it in the first row */
        }

        .item2 {
            grid-column: 1; /* Position it in the first column */
            grid-row: span 4 / auto; /* Span 4 rows */
        }

        .item4 {
            grid-column: 1 / span 2; /* Span 2 columns */
            grid-row: 5; /* Position it in the 5th row */
        }

        .item5 {
            grid-column: span 2 / auto; /* Span 2 columns */
            grid-row: 5; /* Position it in the 5th row */
        }

        .item10 {
            grid-column: span 3 / auto;/* Span 3 columns */
            grid-row: 4; /* Position it in the 4th row */
        }